h1 {
  color: red;
} /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden,
[hidden] {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media print {
  *,
  :after,
  :before {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  h1 {
    color: #00f;
  }
}
/*# sourceMappingURL=/main.46722ebe.css.map */
body,
html {
  background-color: #555555;
}

.cardBox {
  display: grid;
  /*align-items: stretch;*/
  /*align-content: space-between;*/
  /*width: 20%;*/
  /*position:relative;*/
  grid-template-columns: 5% 5% 5% 5% 5% 5%;
  column-gap: 5em;
  /*grid-template-areas: "info" "jobs";*/
}
.card {
  display: flex;
  justify-self: start;
  flex: 1 1 auto;
  flex-direction: row;
  width: 30ch;
  border: 1px solid white;
  margin: 30px;
  border-radius: 18px;
  background: #424344;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 0;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.card-text {
  margin: 25px;
  position: relative;
}
.card-text .date {
  color: rgb(206, 186, 196);
  font-size: 13px;
  font-family: Arial;
}
.card-text p {
  color: white;
  font-size: 10px;
  font-weight: 200;
}
.card-text h2 {
  color: white;
  margin-top: 0px;
  font-size: 28px;
}
.text {
  margin-left: 4em;
  font-family: "Times New Roman";
  color: #b3d4fc;
}
.skills {
  font-size: smaller;
  font-family: "Times New Roman";
  color: white;
  width: 30ch;
  text-align: center;
  margin-top: 15%;
  margin-left: 11%;
  margin-bottom: 4em;
}
.icon {
  height: 25px;
  width: 25px;
  float: left;
  background-color: orange;
  border-radius: 50%;
}
.bDevelopmentIcon {
  background-color: blue;
}
.fullStackIcon {
  background-color: darkviolet;
}
.testerIcon {
  background-color: grey;
}
.DesignerIcon {
  background-color: darkgoldenrod;
}
.architectIcon {
  background-color: darkcyan;
}
.jobs,
.info {
  border-radius: 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  /*height: 25rem;*/
  /*justify-content: space-between;*/
  /*margin-top: 70%;*/
}
